body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x:hidden;
}    
ul {
    height: 30%;
    font:20px sans-serif;
	list-style:none;
    padding: 5%;
}
li {
	margin:2px;
	padding:2px;
}
li a {
	width:100px;
	padding:4px 0;
	text-decoration:none;
	text-align:center;	
    color: black;
}
.active {
    background-color: #FFD503;
    text-align: center;
    border-radius: 10px;
}
