.menu{
   background-color: #013243;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
.menu img{
    width: 20%;
}
.banner img{
    width: 100%;
}
.texto{
    width: 50%;
    justify-content: center;
}
p {
    font-family: 'Times New Roman', Times, serif;
}