
.hedvig {
    font-family: 'Hedvig Letters Serif' ;
    background-color: red;
}
.kalnia {
    font-family: 'Kalnia';
    background-color: orangered;
}
.mina {
    font-family: 'Mina';
    background-color: orange;
}
.poppins {
    font-family: 'Poppins';
    background-color: yellow;
}
.preahvihear {
    font-family: 'Preahvihear';
    background-color: yellowgreen;
}
.robot {
    font-family: 'Roboto', sans-serif;
    background-color: olivedrab;
}
.bubbles {
    font-family: 'Rubik Bubbles';
    background-color:teal;
}
.maps {
    font-family: 'Rubik Maps';
    background-color:cornflowerblue;
}
.silkscreen {
    font-family: 'Silkscreen';
    background-color: plum;
}